{% load i18n evenio_site_tags %}<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}Title of the document{% endblock %}</title>
  <link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/media/css/all.css" />
  <script type="text/javascript" src="/media/js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/media/js/evenio_site.js"></script>
</head>

<body>

<div id="header">
  <div id="header_container" class="horizontal_container">
    <a href=""><div id="logo"></div></a>
    <ul id="menu">
      <li class="selected"><a href="">{% trans "Kalender" %}</a></li>
      <li><a href="">{% trans "Opret event" %}</a></li>
      <li><a href="">{% trans "Profiler" %}</a></li>
      <li><a href="">{% trans "Hvem er vi" %}</a></li>
      <li><a href="">{% trans "Hjælp" %}</a></li>
    </ul>
    <ul id="meta_menu">
      <li><a href="">{% trans "Udskriv" %}</a></li>
      <li class="has_arrow"><a href="#" onclick="toggle_login_form(this);">{% trans "Log ind" %}</a></li>
    </ul>
    <div class="clearfix"></div>
    
    <div id="login_form">
      <form method="POST" action="{% url login_and_redirect %}">
        {% login_form %}
        <button>{% trans "Log ind" %}</button>
      </form>
    </div>
    
  </div>
</div>

{% block content %}
<p>Intet at se!</p>
{% endblock %}
</body>

</html>
