{% extends "base.html" %}

{% block content_header %}
  {% if event_list %}
  <h1>{{ event_list.0.starts|date:"F"|capfirst }}</h1>
  {% else %}
  <h1>DER SKER INGENTING!</h1>
  {% endif %}
{% endblock %}

{% block content %}

  {% for event in event_list %}
  <div class="event_item">
    <div class="event_meta">
      
    </div>
    <div class="event_date">{{ event.starts|date:"j/n" }}</div>
    <div class="event_title">{{ event.title }}</div>
    <div class="event_description">{{ event.description|truncatewords:50 }}</div>
    <div class="clearfix"></div>
  </div>
  {% endfor %}

{% endblock %}
