<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% trans "Evenio" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}less/bootstrap.less" rel="stylesheet/less" type="text/css" />
    <script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <!--<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">-->
    <style type="text/css">
      body { /* NOT fluid -- need change */
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .row-fluid:after {
        clear: none; /* KLUDGE: overwrite */
      }
      h1:hover {
          color: #100885;
          cursor: pointer;
      }
      h2 { cursor: pointer; }
      .highlight {
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
          border-radius: 0.307692308em; /* 13px/4px */
  -webkit-transition: box-shadow 0.2s linear; 
     -moz-transition: box-shadow 0.2s linear; 
      -ms-transition: box-shadow 0.2s linear; 
       -o-transition: box-shadow 0.2s linear; 
          transition: box-shadow 0.2s linear;
      }
    </style>
    <script>
    if (!/accounts/.test(location.href)) { // don't run this code on account pages
        jQuery(function($){
            $('h2~p').hide();
            $('h2').toggle(function(e){
                $(this).siblings('p').show(250);
            }, function(e){
                $(this).siblings('p').hide(250);
            });
            var evenio = {};
            evenio.events;
            $('h1').hover(function(e) {
                evenio.events = $(this)
                    .siblings('span.span4');
                evenio.events.addClass('highlight');
            }, function(e) {
                evenio.events.removeClass('highlight');
            });
            $('h1').click(function(e) {
                evenio.events.children('p').show(250);
            });
        });
    }
</script>	        
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

  </head>

  <body>

    {% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{% block sitetitle %}Evenio{% endblock %}</a>
          <div class="nav-collapse">
            <ul class="nav">

              <li class="active"><a href="#">{% trans "Start" %}</a></li>
              <li><a href="#about">{% trans "About" %}</a></li>
              <li><a href="{% url evenio:create %}">{% trans "Create event" %}</a></li>
            </ul>
            <p class="navbar-text pull-right">
            {% if not user.is_anonymous %}
            Logged in as <a href="#">{{ user }}</a>
            {% else %}
            <a href="{% url userena_signup %}">{% trans "Sign up" %}</a>
            {% endif %}
            </p>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>
    {% endblock %}    
    
    <div class="container-fluid">
  
      {% block body %}

      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>

              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>

              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">

            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>

              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>

            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>

            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">

              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      {% endblock %}
      <hr>

      {% block footer %}
      <footer>
        <p>&copy; Company 2012</p>
      </footer>
      {% endblock %}

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

  </body>
</html>

