{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

        <div class="row">
            <div class="span8">
            {% block column-1 %}
                <h2>Here be this day</h2>
                <div id="today_list"></div>
            {% endblock %}
            </div>

            <div class="span8">
            {% block column-2 %}
                <h2>Here be upcoming week</h2>
                <div id="this_week_list"></div>
            {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="span8">
            {% block column-3 %}
                <h2>Here be this month</h2>
                <div id="this_month_list"></div>
            {% endblock %}
            </div>

            <div class="span8">
            {% block column-4 %}
                <h2>Here be upcoming year</h2>
                <div id="this_year_list"></div>
            {% endblock %}
            </div>
        </div>

{% endblock %}

{% block extra_body %}

        <script type="text/javascript">
            $(document).ready(function() {
                $("#today_list").load('/evenio/today', function(data) {})
                $("#this_week_list").load('/evenio/this_week', function(data) {})
                $("#this_month_list").load('/evenio/this_month', function(data) {})
                $("#this_year_list").load('/evenio/this_year', function(data) {})
            })
        </script>

{% endblock %}
