{% extends 'evenio_cal_base.html' %}
{% load comments %}

{% block content %}

    <h3>{{ object.title }}</h3>
    <p>{{ object.happens }}</p>
    <p>
        Kategorier:
        {% for cat in object.category.all %}
            {{ cat.title }}
        {% endfor %}
    </p>
    <p>Beskrivelse: {{ object.description }}</p>

    <p>Oprettet af: {{ object.owner }}</p>
    <hr />
    Kommentarer:<br />
    {% render_comment_list for object %}

    {% render_comment_form for object%}

{% endblock %}

