{% extends "evenio/base.html" %}
{% load i18n %}
{% block evenio_all %}

  {% for object in object_list reversed %}
    {% with object.starts as event_start %}
    {% ifchanged event_start %}
      {% if not forloop.first %}</div>{% endif %}
      <div class="row-fluid">
      <h1>{{object.starts|date:"l"}} {% trans "d." %} {{ event_start|date:_("d F") }}</h1>
    {% endifchanged %}
      <span class="span4">
        <h2>{{ object.title }}</h2>
        <p><i>{% if object.venue %}{{ object.venue_name }}{% else %}{% trans "TBA" %}{% endif %} - {% trans "starts at" %} {{ object.starts|date:"TIME_FORMAT" }}</i></p>
        <a href="{% url evenio:show object.slug %}">
          
        </a>
        {{ object.description|linebreaks }}
      </span>
      {% if forloop.last %}</div>{% endif %}
    {% endwith %}
    {% empty %}
      <span class="span4">{% trans "Nothing happening." %}</span>
  {% endfor %}
  </div>

{% endblock %}
