{% extends 'evenio/base.html' %}
{% load comments %}

{% block content %}

<div>
    <h2 id="title">{{ event.title }}</h2>
    <div id="category">Category: {{ event.get_categories_string }}</div>
    <div id="starts">Starts: {{ event.starts }}</div>

    {% if event.ends %}
    <div id="ends">Ends: {{ event.ends }}</div>
    {% endif %}

    <div id="venue">Venue: {{ event.venue_name }}</div>

    <div id="price">Price: {{ event.price }}</div>

    {% if event.address %}
    <div id="address">Address: {{ event.address }}</div>
    {% endif %}

    <p id="description">{{ event.description }}</p>
</div>

<hr />

{% get_comment_count for event as comment_count %}

<p>{{ comment_count }} comments</p>

{% render_comment_list for event %}

{% render_comment_form for event %}

{% endblock %}
