{% extends 'evenio/base.html' %}
{% load comments %}

{% block content %}

<div>
    <h2 id="title">{{ event.title }}</h2>
    <div id="category">Kategorier: {{ event.get_categories_string }}</div>
    <div id="starts">Begynder: {{ event.starts }}</div>

    {% if event.ends %}
    <div id="ends">Slutter: {{ event.ends }}</div>
    {% endif %}

    <div id="venue">Venue: {{ event.venue_name }}</div>

    <div id="price">Pris: {{ event.price }}</div>

    {% if event.address %}
    <div id="address">Adresse: {{ event.address }}</div>
    {% endif %}

    <p id="description">{{ event.description }}</p>
</div>

<div>
  <a href="{% url evenio:update slug=event.slug %}">Update</a>
</div>

<hr />

{% get_comment_count for event as comment_count %}

<p>{{ comment_count }} kommentar{{ comment_count|pluralize }}</p>

{% render_comment_list for event %}

{% render_comment_form for event %}

{% endblock %}
