{% extends "evenio/base.html" %}
{% load i18n %}

{% block content_header %}
  
  {% if filter_category %}
    {% url evenio:list_type previous_month.year previous_month.month as prev_url %}
    {% url evenio:list_type next_month.year next_month.month as next_url %}
  {% else %}
    {% url evenio:list_month previous_month.year previous_month.month as prev_url %}
    {% url evenio:list_month next_month.year next_month.month as next_url %}
  {% endif %}
  
  <a href="{{ prev_url }}" class="header_nav_buttons previous_button">{{ previous_month|date:"F Y"|capfirst }}</a>

  <a href="{{ next_url }}" class="header_nav_buttons next_button">{{ next_month|date:"F Y"|capfirst }}</a>

  <h1>{{ filter_from|date:"F Y"|capfirst }}</h1>
  {% if is_paginated %}
  <div class="pagination">
    {% for page in paginator.page_range %}
      <a href="?page={{ page }}"{% if page_obj.number == page %} class="selected"{% endif %}>{{ page }}</a>
    {% endfor %}        
  </div>
  {% endif %}

{% endblock %}

{% block content_footer %}
  {% if is_paginated %}
  <div class="pagination">
    {% for page in paginator.page_range %}
      <a href="?page={{ page }}"{% if page_obj.number == page %} class="selected"{% endif %}>{{ page }}</a>
    {% endfor %}        
  </div>
  {% endif %}
{% endblock %}

{% block content %}

  {% for event in event_list %}
  <div class="event_item">
    <div class="event_meta">
      <div class="event_property event_property_location">
        <span class="label">{% trans "Hvor" %}:</span>
        {{ event.address|default:"-" }}
      </div>
      <div class="event_property event_property_when">
        <span class="label">{% trans "Hvornår" %}:</span>
        {{ event.starts|time }}
        {% if event.ends %}
          {% ifequal event.starts|date:"j" event.ends|date:"j" %}
            {{ event.ends|time }}
          {% else %}
            {{ event.starts|date:"j/n" }} {{ event.date|time }}
          {% endifequal %}
        {% endif %}
      </div>
      <div class="event_property event_property_price">
        <span class="label">{% trans "Entre" %}:</span>
        {% if event.price %}
        {{ event.price }} {% trans "kr." %}
        {% else %}
        {% trans "GRATIS" %}
        {% endif %}
      </div>
    </div>
    <div class="event_date">{{ event.starts|date:"j/n" }}</div>
    <div class="event_title">
      {{ event.title }}
      {% if event.canceled %}
      <span class="cancelled">{% trans "Cancelled!" %}</span>
      {% endif %}
    </div>
    <div class="event_description">{{ event.description|truncatewords:50 }}</div>
    <div class="clearfix"></div>
  </div>
  {% empty %}
    <div class="content">
    <h1>{% trans "NO EVENTS! Zzzzzzzzzz" %}</h1>
    </div>
  {% endfor %}

{% endblock %}
