{% extends 'evenio/base.html' %}
{% load i18n %}

{% block content_header %}
  {% if event %}
    <h1>{{ event.title }}</h1>
  {% else %}
    <h1>Ingen begivenhed fundet</h1>
  {% endif %}
{% endblock %}

{% block content %}
    <form method="POST">{% csrf_token %}
      <table class="event_form">
{{ form.as_table }}
<tr>
  <th><label>{% trans "Comments" %}</label></th>
  <td>
    <input type="checkbox" name="comments_before" id="id_comments_before" checked="checked"> {% trans "before event" %}
    <input type="checkbox" name="comments_after" id="id_comments_after" checked="checked"> {% trans "after event" %}<br/>
    <input type="checkbox" name="comments_anonymous_before" id="id_comments_anonymous_before" checked="checked">
      {% trans "anonymous before event" %}<br/>
    <input type="checkbox" name="comments_anonymous_after" id="id_comments_anonymous_after" checked="checked">
      {% trans "anonymous after event" %}<br/>
  </td>
</tr>
      </table>
      <button type="submit">{% trans "Submit" %}</button>
    </form>

{% endblock %}
