@font-face {
    font-family: 'MuseoSlab500';
    src: url('../type/Museo_Slab_500-webfont.eot');
    src: url('../type/Museo_Slab_500-webfont.eot?iefix') format('eot'),
         url('../type/Museo_Slab_500-webfont.woff') format('woff'),
         url('../type/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('../type/Museo_Slab_500-webfont.svg#webfontyumMOUTD') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
  background-color: #000;
  background-image: url('../img/bg_grid.png');
  color: #FFF;
  font-family: MuseoSlab500, sans;
}

#header
{
  border-bottom: 40px solid #E5E01A;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #000;
  background-image: url('../img/bg_grid.png');
  z-index: 999;
}

#header_container
{
  height: 60px;
  position: relative;
}

.horizontal_container
{
  width: 950px;
  margin: 0 auto;
}

div#logo
{
  background-image: url('../img/header_logo.png');
  width: 166px;
  height: 47px;
  position: absolute;
  left: 20px; top: 10px;
}

ul#menu
{
  position: absolute;
  left: 200px;
  bottom: 0;
}

ul#menu li
{
  float: left;
  margin: 0 20px;
  padding-bottom: 14px;
}

ul#menu li a
{
  color: #FFF;
  text-decoration: none;
  font-size: 11pt;
}

ul#menu li.selected
{
  background-image: url('../img/menu_selected_bg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}

ul#menu li.selected a,
ul#menu li a:hover
{
  color: #E5E01A;
}

ul#submenu
{
  position: absolute;
  left: 0;
  bottom: -30px;
  color: #000;
  padding: 3px 10px 3px 0;
}
ul#submenu li {display: inline-block;}
ul#submenu li a
{
  display: inline-block;
  margin: 0 20px;
  color: #000;
  text-decoration: none;
}

ul#submenu li.selected a
{
  text-decoration: underline;
}

div#meta_menu
{
  position: absolute;
  right: 0;
  bottom: 7px;
  background-color: #000;
  padding: 3px 10px 3px 0;
}
div#user_box
{
  padding: 6px;
  font-size: 8pt;
}
div#meta_menu li
{
  float: left;
  padding: 0 10px;
  border-left: 1px solid #E5E01A;
}
div#meta_menu li:first-child
{
  border:0;
}

div#meta_menu li a
{
  color: #E5E01A;
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
}

div#meta_menu li.has_arrow
{
  padding-right: 30px;
  background-image: url('../img/arrow_down.png');
  background-repeat: no-repeat;
  background-position: right;
}
div#meta_menu li.selected
{
  background-image: url('../img/arrow_up.png');
}

#login_form
{
  background: #000;
  padding: 30px 30px;
  width: 150px;
  position: absolute;
  right: 0;
  top: 53px;
  display: none;
  font-size: 10pt;
  z-index: 1000;
}

#login_form label
{
  margin-bottom: 5px;
}

#login_form input
{
  display: block;
  border: 1px solid #FFF;
  background: #000;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 143px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  color: #ddd;
}

#login_form input[type=checkbox]
{
  display: inline;
}

#login_form button
{
  width: 100%;
  font-size: 9pt;
  padding: 3px;
  cursor: pointer;
}

.clearfix {clear: both;}


button {
  border-style: solid;
  border-color: #E5E01A;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #E5E01A;
  color: #000;
  padding: 5px;
}


div.error
{
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #E5661A;
}

ul.errorlist
{
  background: #E5661A;
  color: #FFF;
  padding: 10px;
  margin: 10px 0;
}

label
{
  margin: 10px 0 5px 0;
}

input
{
  margin: 5px 0 10px 0;
  padding: 5px;
}

div#bg
{
  margin-top: -20px;
  background: url('../img/main_bg.jpg');
  background-position: center 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

div#content_container_container
{
  margin: 30px auto;
  margin-top: 120px;
  overflow: hidden;
  position: relative;
}

div#content_container
{
  border-top: 4px solid #141414;
  position: relative;
}

div#content_header
{
  background: #000;
  padding: 20px;
  text-align: center;
  position: relative;
}

div#content_footer
{
  background: #000;
  padding: 20px;
  text-align: center;
  margin: 0;
}

div#content_footer .pagination
{
  margin: 0;
}

div#content_header h1
{
  display: inline-block;
  background: #E5E01A;
  color: #000;
  padding: 5px;
  font-size: 36px;
}

div.content
{
  padding: 50px;
}

.transparency
{
  opacity:0.8;
  filter:alpha(opacity=80);  
  -moz-opacity:0.8;  
  background:#000000;
  background-attachment: none;
  width:100%;
  height:100%;
  position:absolute;  
  top:0px;  
  left:0px;  
  z-index:-1;
}

.event_date
{
  width: 56px;
  height: 55px;
  background-image: url('../img/date_bg.png');
  line-height: 55px;
  text-align: center;
  color: #000;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-right: 20px;
}

.event_item
{
  margin: 10px 0 10px 0;
  border-bottom: 4px solid #FFF;
  padding: 20px;
  clear: both;
}

.event_item:last-child
{
  margin: 0;
}


.event_title, .event_title a
{
  color: #E5E01A;
  font-size: 18px;
  text-decoration: none;
}


.event_title .cancelled {color: #E5661A;}

.event_description
{
  font-size: 9pt;
}

.event_meta
{
  padding: 20px 20px;
  background: #141414;
  min-height: 80px;;
  width: 200px;
  float: right;
  margin: -30px -20px -20px 20px;
}

.event_property
{
  font-size: 9pt;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left middle;
  height: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}

.event_property .label
{
  font-weight: bold;
}

.event_property_location {background-image: url('../img/icon_location.png')}
.event_property_when {background-image: url('../img/icon_time.png')}
.event_property_price {background-image: url('../img/icon_price.png')}

.pagination
{
  margin-top: 10px;
}
.pagination a {
  color: #000;
  background: #E5E01A;
  margin-left: 10px;
  text-decoration: none;
  width: 15px;
  text-align: center;
  display: inline-block;
  padding: 1px;
}

.pagination a:hover
{
  background: #000;
  color: #E5E01A;
}

.pagination a.selected
{
  opacity:0.5;
  filter:alpha(opacity=50);  
  -moz-opacity:0.5;  
}

.header_nav_buttons
{
  height: 20px;
  line-height: 20px;
  background-repeat: no-repeat;
  padding: 0 5px 0 10px;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.previous_button
{
  background-image: url('../img/button_prev.png');
  position: absolute;
  padding: 0 5px 0 10px;
  left: 10px;
}

.next_button
{
  background-image: url('../img/button_next.png');
  background-position: right;
  padding: 0 10px 0 5px;
  color: #000;
  display: inline-block;
  position: absolute;
  right: 10px;
}

#searchform
{
  position: absolute;
  right: 10px;
  bottom: -33px;
  background: #FFF;
  border: 1px solid #000;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  height: 23px;
}
#searchform .query
{
  background: #FFF;  
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 8pt;
  margin: 0;
  padding: 2px 5px;
}
#searchform .searchbutton
{
  border: 0;
  margin: 0;
  background-image: url('../img/button_search.png');
  width: 26px;
  height: 23px;
  position: absolute;
  right: 0;
}

