{% extends "site_base.html" %}

{% load i18n %}
{% load comments %}

{% block body %}

<div>
  <h2 id="title">{{ event.title }}</h2>
  <div id="category">{% trans "Categories" %}: {{ event.get_categories_string }}</div>
  <div id="begins">{% trans "Begins" %}: {{ event.starts }}</div>

  {% if event.ends %}
  <div id="ends">{% trans "Ends" %}: {{ event.ends }}</div>
  {% endif %}

  <div id="venue">{% trans "Venue" %}: {{ event.venue_name }}</div>

  <div id="price">{% trans "Price" %}: {{ event.price }}</div>

  {% if event.address %}
  <div id="address">{% trans "Address" %}: {{ event.address }}</div>
  {% endif %}

  <p id="description">{{ event.description }}</p>
</div>

<div>
  <a href="{% url evenio:update slug=event.slug %}">{% trans "Edit event" %}</a>
</div>

<hr />

{% get_comment_count for event as comment_count %}

<p>{{ comment_count }} kommentar{{ comment_count|pluralize }}</p>

{% render_comment_list for event %}

{% render_comment_form for event %}

{% endblock %}
